$background-color: #edfdfb;
$white: #fff;
$dark: #000;
$red: red;
$background-checbox: #c0f5fd;
$background-checbox-dark: #242424;
$main-shadow: 4px 4px 20px 0 rgb(88 180 248 / 36%);

$dark-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

$linear-gradient-checbox: linear-gradient(180deg, #777, #3a3a3a);

$btn-before: rgba(10, 213, 244, 0.676);
$border-btn: 2px solid #574f4f;

$btncancel: #ff4848;
$btnsend: rgb(108, 249, 108);