@media (min-width: 360px) {
	.main-info {
		&__top {
			height: 67px;
		}

		&__img {
			width: 142px;
			transform: translate(-10px, -33px);
		}

		&__temp {
			font-size: 5rem;
			transform: none;
		}

		&__time {
			display: block;
		}
	}

	.more-info {
		&__title {
			font-size: 2rem;
		}

		&__list {
			grid-template-columns: repeat(3, 1fr);
			gap: 0.8em 0.2em;
		}

		&__name {
			display: block;
			font-size: 1.6rem;
			font-weight: 600;
		}
	}

	.weather-future {
		&__item {
			justify-content: flex-start;
		}

		&__icon {
			margin-right: 0;
		}
	}

	.popup {
		padding: 1em 1em 0.8em;

		&__text {
			font-size: 2rem;

			&::after {
				top: 40px;
				right: 10px;
				width: 36px;
				height: 36px;
			}
		}

		&__input {
			font-size: 2rem;
		}

		&__btn {
			font-size: 1.8rem;
		}
	}
}

@media (min-width: 460px) {
	.toolbar {
		padding: 0 1em;
	}
}

@media (min-width: 576px) {
	.main-info {
		&__img {
			width: 170px;
			transform: translate(-10px, -46px);
		}

		&__temp {
			background-image: linear-gradient(
				182deg,
				rgba(255, 255, 255, 1) 80%,
				rgba(46, 171, 242, 1) 100%
				);
			font-size: 6rem;
		}
	}

	.more-info {
		&__icon {
			width: 50px;
		}

		&__number {
			font-size: 2rem;
		}
	}

	.weather-future {
		&__day {
			font-size: 2.2rem;
		}

		&__icon {
			width: 27px;
			height: 38px;
		}

		&__temp {
			font-size: 3rem;
		}

		&__img {
			width: 130px;
		}
	}
}
