@use 'reset' as *;
@use 'colors';

body {
	padding: 1em 1.2em;
	color: var(--white);
	background-color: var(--background-color);
	font-family: 'Open Sans', sans-serif;
	font-size: 2rem;
	transition: color 0.3s, background-color 0.3s;
}

// -components

.wrapper {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

@mixin button-before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.3s;
	z-index: -1;
}

// - nav toolbar
.toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__search {
		position: relative;
		display: flex;
		align-items: center;
		gap: 0.2em;
		padding: 0.8em 1.6em;
		background-color: var(--white);
		border: 1px solid var(--btn-before);
		border-radius: 40px;
		box-shadow: var(--main-shadow);
		font-size: 1.8rem;
		font-weight: 600;
		transition: background-color 0.3s;
		overflow: hidden;
		cursor: pointer;
		z-index: 0;

		&::before {
			@include button-before;
			background-color: var(--btn-before);
		}

		&:hover::before {
			transform: scaleX(1);
			transform-origin: left;
		}
	}

	&__icon-img {
		width: 24px;
	}

	&__switch {
		position: relative;
		width: 92px;
		height: 46px;
		background-color: var(--background-checbox);
		border-radius: 40px;
		box-shadow: var(--main-shadow);
		border: none;
		transition: background-color 0.3s;
		cursor: pointer;

		&::after {
			content: '';
			position: absolute;
			top: 0px;
			left: -1px;
			width: 46px;
			height: 46px;
			background-color: var(--white);
			border-radius: 50%;
			box-shadow: var(--dark-shadow);
			transition: left 0.3s, transform 0.3s, background-image 0.3s;
		}

		&:active::after {
			width: 50px;
		}
	}

	&__icon {
		position: absolute;
		left: 10px;
		top: 11px;
		width: 24px;
		z-index: 1;

		&--moon {
			left: 56px;
			top: 9px;
			width: 27px;
			opacity: 0.3;
		}
	}
}

//  -div main-info
.main-info {
	display: flex;
	flex-wrap: wrap;
	padding: 0.6em 1.4em;
	margin: 2em auto 1em;
	max-width: 380px;
	text-shadow: 1px 1px 1px #000000a8;
	background-image: var(--main-gradient);
	border-radius: 40px;
	box-shadow: var(--dark-shadow);

	&__top {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin-bottom: 1.2em;
		width: 100%;
		height: 40px;
	}

	&__img {
		width: 106px;
		transform: translate(-17px, -32px);
	}

	&__degrees {
		cursor: pointer;
	}

	&__temp {
		height: inherit;
		font-size: 3rem;
		font-weight: bold;
		transform: translate(-8px, 0px);
	}

	&__state {
		font-weight: 600;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		margin: 0.5em 0;
		width: 100%;
		font-size: 1.8rem;
	}

	&__time {
		display: none;
		position: relative;
		font-size: 2rem;
		font-weight: 600;

		&::before {
			content: '';
			position: absolute;
			left: -33%;
			width: 30px;
			height: 30px;
			background-image: url('../img/icon/clock.gif');
			background-size: cover;
			transform: translateX(-50%);
		}
	}
}

//  -div more-info
.more-info {
	padding: 1em 1.4em;
	margin: 0 auto;
	max-width: 380px;
	color: var(--dark);
	background-color: var(--white);
	border-radius: 40px;
	box-shadow: var(--dark-shadow);

	&__title {
		margin-bottom: 0.8em;
		font-size: 1.8rem;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 0.6em 0.2em;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;

		& > .wind-deg {
			text-align: center;
			font-size: 1.8rem;
		}
	}

	&__icon {
		width: 40px;
	}

	&__name {
		display: none;
	}

	&__number {
		font-size: 1.8rem;
		font-weight: bold;
	}
}

// - section weather-future

.weather-future {
	margin: 1em auto 0;
	max-width: 380px;

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		padding: 0.6em 5em 0.6em 1em;
		margin: 0 auto 0.6em;
		background-image: var(--main-gradient);
		border-radius: 20px;
		box-shadow: var(--dark-shadow);
		text-shadow: 1px 1px 1px #000000a8;
	}

	&__day {
		width: 100%;
		font-size: 1.9rem;
		font-weight: 600;
	}

	&__icon {
		margin-right: 0.1em;
		width: 23px;
		height: 33px;
		object-fit: cover;
	}

	&__temp {
		margin-right: 0.3em;
		font-size: 2.4rem;
		font-weight: bold;
	}

	&__img {
		position: absolute;
		right: 0;
		top: 0;
		width: 112px;
	}
}

.popup {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -80vh);
	display: flex;
	flex-direction: column;
	padding: 0.8em 0.6em;
	color: var(--dark);
	background-color: var(--white);
	border: var(--border-btn);
	border-radius: 20px;
	box-shadow: var(--main-shadow);
	transition: transform 0.6s;

	&__text {
		position: relative;
		padding: 0 0 0.1em 0.2em;
		font-size: 1.8rem;
		font-weight: 600;

		&::after {
			content: '';
			position: absolute;
			top: 34px;
			right: 10px;
			width: 30px;
			height: 30px;
			background-image: url('../img/icon/find.png');
			background-size: cover;
		}
	}

	&__input {
		padding: 0.4em 2.6em 0.4em 0.6em;
		margin-bottom: 0.6em;
		width: 100%;
		border: 2px solid #d8d8d8;
		border-radius: 10px;
		font-size: 1.6rem;
		box-shadow: var(--main-shadow);
	}

	&__box {
		display: flex;
		align-self: flex-end;
		gap: 4px;
	}

	&__btn {
		position: relative;
		display: flex;
		align-items: center;
		padding: 0.6em 1.4em;
		background-color: var(--white);
		border: 1px solid #0000002e;
		border-radius: 20px;
		font-size: 1.6rem;
		font-weight: 600;
		box-shadow: var(--main-shadow);
		cursor: pointer;
		z-index: 0;
		overflow: hidden;

		&::before {
			@include button-before;
			background-color: var(--btnsend);
		}

		&:hover::before {
			transform: scaleX(1);
			transform-origin: left;
		}

		&--close {
			&::before {
				background-color: var(--btncancel);
			}

			&:hover {
				.popup__line {
					background-color: var(--dark);
				}
			}
		}
	}

	&__x {
		position: relative;
		width: 12px;
		height: 20px;
	}

	&__line {
		position: absolute;
		top: 2px;
		left: 0;
		width: 2px;
		height: 18px;
		background-color: var(--red);
		transform: rotate(45deg);
		transition: background-color 0.3s;

		&--reverse {
			transform: rotate(-45deg);
		}
	}

	&__svg {
		position: absolute;
		top: 2px;
		left: -10px;
		width: 19px;
	}
}

.error {
	position: absolute;
	top: 10px;
	left: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.4em 1em;
	width: 100%;
	max-width: 450px;
	color: var(--white);
	background-color: var(--red);
	transform: translate(-50%, -100px);
	transition: transform 0.3s;
	z-index: 20;

	&__text {
		font-size: 1.4rem;
		font-weight: 600;
	}

	&__x {
		width: 20px;
		cursor: pointer;
	}

	&__line {
		top: 0px;
		left: 8px;
		width: 3px;
		height: 21px;
		background-color: var(--white);
	}
}

.special{
	position: absolute;
	top: -400px;
	z-index: 1000;
	transform: translateY(-110%);
	transition: transform 1.2s;
}

@import 'small';
@import 'medium';

//   -animation
.move-shake {
	animation: shake 1s linear;
}

.add-red {
	animation: add-color 2s ease-in-out forwards;
}

@keyframes add-color {
	0%,
	40%,
	100% {
		border: 2px solid var(--red);
	}
	20%,
	60% {
		border: 2px solid #d8d8d8;
	}
}

@keyframes shake {
	0%,
	30%,
	60%,
	85%,
	100% {
		transform: translate(-50%, -50%);
	}
	10%,
	40%,
	90%,
	70% {
		transform: translate(-54%, -50%);
	}
	20%,
	50%,
	80%,
	95% {
		transform: translate(-46%, -50%);
	}
}

.move-left {
	animation: move-left 1s ease-out forwards;
}

@keyframes move-left {
	0% {
		transform: translateX(0) rotate(0);
	}
	20% {
		transform: translateX(-10px) rotate(25deg);
	}
	40%,
	60%,
	80% {
		transform: translateX(-20px) rotate(45deg);
	}
	50% {
		transform: translateX(-30px) rotate(60deg);
	}
	70% {
		transform: translateX(-15px) rotate(35deg);
	}
	100% {
		left: 100px;
		transform: translateX(134px) rotate(0);
	}
}

@keyframes blick {
	0% {
		left: -30%;
	}
	to {
		left: 130%;
	}
}

.blur {
	user-select: none;
	pointer-events: none;
	filter: blur(7px);
	transition: filter 0.3s;
}

// dark mode

body.dark {
	background: radial-gradient(
		circle,
		rgba(53, 69, 96, 1) 44%,
		rgba(11, 18, 30, 1) 100%
	);
	--white: #000000;
	--dark: #ffffff;
	--background-checbox: #242424;

	--main-shadow: 4px 4px 20px 0 rgb(88 180 248 / 36%);
	--dark-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

	--main-gradient: linear-gradient(104deg, #1984ff, #34dbff);
	--linear-gradient-checbox: linear-gradient(180deg, #777, #3a3a3a);

	--btn-before: rgba(10, 213, 244, 0.676);
	--border-btn: 2px solid #574f4f;
	--red: rgb(0, 0, 0);

	--btncancel: #ff4848;
	--btnsend: rgb(108, 249, 108);

	.toolbar {
		&__search {
			background-color: #004b6f;
			color: #fff;
		}

		&__switch::after {
			background-image: linear-gradient(180deg, #777, #3a3a3a);
			transform: translateX(101%);
			transition: right 0.3s;

			&:active::after {
				width: 50px;
			}
		}

		&__icon {
			&--moon {
				opacity: 1;
			}

			&--sun {
				opacity: 0.2;
			}
		}
	}

	.main-info {
		text-shadow: none;
	}

	.more-info {
		background-color: transparent;
		text-shadow: 1px 1px 1px #0000009c;

		&__item {
			text-shadow: 1px 1px 1px #00000091;
		}
	}
	.weather-future {
		&__item {
			text-shadow: 1px 1px 1px hsl(0deg 0% 100% / 29%);
		}
	}

	.popup {
		background-image: linear-gradient(0deg, #777, #3a3a3a);

		&__btn {
			background-color: royalblue;
		}
	}

	.error {
		color: #fff;
	}

	@media (min-width: 992px) {
		.weather-now {
			color: #fff;
			background-image: none;
		}
	}
}