@use 'reset' as *;
@use 'colors' as c;

body {
	padding: 1em 1.2em;
	background-color: c.$background-color;
	font-family: 'Open Sans', sans-serif;
	font-size: 2rem;
}

// -components

.wrapper {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

// - nav toolbar
.toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__search {
		position: relative;
		display: flex;
		align-items: center;
		gap: 0.2em;
		padding: 0.8em 1.6em;
		background-color: c.$white;
		border: none;
		border-radius: 40px;
		box-shadow: c.$main-shadow;
		font-weight: 600;
		font-size: 1.8rem;
		transition: background-color 0.3s; //all 0.2s ease-out,
		overflow: hidden;
		cursor: pointer;
		z-index: 0;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 120%;
			background-color: rgba(10, 213, 244, 0.676);
			transform: scaleX(0);
			transform-origin: right;
			transition: transform 0.3s;
			z-index: -1;
		}

		&:hover::before {
			transform: scaleX(1);
			transform-origin: left;
		}
	}

	&__icon-img {
		width: 24px;
	}

	&__switch {
		position: relative;
		width: 92px;
		height: 46px;
		background-color: c.$background-checbox;
		border-radius: 40px;
		box-shadow: c.$main-shadow;
		transition: background-color 0.3s;
		cursor: pointer;

		&::after {
			content: '';
			position: absolute;
			top: 0px;
			left: -1px;
			width: 46px;
			height: 46px;
			background-color: c.$white;
			border-radius: 50%;
			box-shadow: c.$dark-shadow;
			transition: left 0.3s, transform 0.3s, background-image 0.3s;
		}

		&:active::after {
			width: 52px;
		}
	}

	&__checkbox {
		visibility: hidden;

		&:checked + .toolbar__switch {
			background-color: c.$background-checbox-dark;
		}

		&:checked + .toolbar__switch::after {
			left: 101%;
			transform: translateX(-100%);
			background-image: c.$linear-gradient-checbox;
		}
	}

	&__icon {
		position: absolute;
		left: 10px;
		top: 11px;
		width: 24px;
		z-index: 1;

		&--mon {
			left: 56px;
			top: 9px;
			width: 27px;
		}
	}
}

//  -div main-info
.main-info {
	display: flex;
	flex-wrap: wrap;
	padding: 0.6em 1.4em;
	margin: 2em auto 1em;
	max-width: 380px;
	color: c.$white;
	background-image: linear-gradient(
		122deg,
		rgba(96, 223, 205, 1) 0%,
		rgba(30, 154, 254, 1) 100%
	);
	border-radius: 40px;
	box-shadow: c.$dark-shadow;

	&__top {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin-bottom: 1.2em;
		width: 100%;
		height: 40px;
	}

	&__img {
		width: 106px;
		transform: translate(-17px, -32px);
	}

	&__degrees {
		cursor: pointer;
	}

	&__temp {
		height: inherit;
		color: transparent;
		background-image: linear-gradient(
			182deg,
			rgba(255, 255, 255, 1) 46%,
			rgba(46, 171, 242, 1) 100%
		);
		// -webkit-background-clip: text;
		background-clip: text; // to usunąc dać te wyższe
		font-size: 3rem;
		font-weight: bold;
		transform: translate(-8px, 0px);
	}

	&__state {
		font-weight: 600;
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		margin: 0.5em 0;
		width: 100%;
		font-size: 1.8rem;
	}

	&__time {
		display: none;
		position: relative;
		font-size: 2rem;
		font-weight: 600;

		&::before {
			content: '';
			position: absolute;
			left: -33%;
			transform: translateX(-50%);
			width: 30px;
			height: 30px;
			background-image: url('../img/clock.gif');
			background-size: cover;
		}
	}
}

//  -div more-info
.more-info {
	padding: 1em 1.4em;
	margin: 0 auto;
	max-width: 380px;
	background-color: c.$white;
	border-radius: 40px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

	&__title {
		font-size: 1.8rem;
		margin-bottom: 0.8em;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 0.6em 0.2em;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__icon {
		width: 40px;
	}

	&__name {
		display: none;
	}

	&__number {
		font-weight: bold;
		font-size: 1.8rem;
	}
}

// - section weather-future

.weather-future {
	margin: 1em auto 0;
	max-width: 380px;

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		padding: 0.6em 5em 0.6em 1em;
		margin: 0 auto 0.6em;
		color: #fff;
		background-image: linear-gradient(122deg, #60dfcd, #1e9afe);
		border-radius: 20px;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	}

	&__day {
		width: 100%;
		font-size: 1.9rem;
		font-weight: 600;
	}

	&__icon {
		margin-right: 0.1em;
		width: 23px;
		height: 33px;
		object-fit: cover;
	}

	&__temp {
		margin-right: 0.3em;
		font-size: 2.6rem;
		font-weight: bold;
		color: transparent;
		background-image: linear-gradient(182deg, #fff 54%, #2eabf2);
		background-clip: text;
		// dac do include
	}

	&__img {
		position: absolute;
		right: 0;
		top: 0;
		width: 112px;
	}
}

.popup {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%,-60vh);
	display: flex;
	flex-direction: column;
	padding: 0.8em 0.6em;
	background-color: #fff;
	border-radius: 20px;
	border: 2px solid #574f4f;
	box-shadow: 4px 4px 20px 0 rgba(88, 180, 248, 0.36);

	&__text {
		position: relative;
		padding: 0 0 0.1em 0.2em;
		font-size: 1.8rem;
		font-weight: 600;

		&::after {
			content: '';
			position: absolute;
			top: 34px;
			right: 10px;
			width: 30px;
			height: 30px;
			background-image: url('../img/icon/find.png');
			background-position: center;
			background-size: cover;
		}
	}

	&__input {
		padding: 0.4em 2.6em 0.4em 0.6em;
		margin-bottom: 0.6em;
		width: 100%;
		border: 2px solid #d8d8d8;
		border-radius: 10px;
		font-size: 1.6rem;
		box-shadow: 4px 4px 20px 0 rgba(88, 180, 248, 0.36);
	}

	&__box {
		display: flex;
		align-self: flex-end;
		gap: 4px;
	}

	&__btn {
		position: relative;
		display: flex;
		align-items: center;
		padding: 0.6em 1.4em;
		background-color: #fff;
		border: 1px solid #0000002e;
		border-radius: 20px;
		font-size: 1.6rem;
		font-weight: 600;
		box-shadow: 4px 4px 20px 0 rgba(88, 180, 248, 0.36);
		cursor: pointer;
		z-index: 0;
		overflow: hidden;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 120%;
			background-color: rgb(108, 249, 108);
			transform: scaleX(0);
			transform-origin: right;
			transition: transform 0.3s;
			z-index: -1;
		}

		&:hover::before {
			transform: scaleX(1);
			transform-origin: left;
		}

		&--error {
			&::before {
				background-color: #ff4848;
			}

			&:hover {
				.popup__line {
					background-color: #000;
				}
			}
		}
	}

	&__x {
		position: relative;
		width: 12px;
		height: 20px;
	}

	&__line {
		position: absolute;
		top: 2px;
		left: 0;
		width: 2px;
		height: 18px;
		background-color: red;
		transform: rotate(45deg);
		transition: background-color 0.3s;

		&--reverse {
			transform: rotate(-45deg);
		}
	}

	&__svg {
		position: absolute;
		top: 2px;
		left: -10px;
		width: 19px;
	}
}

@import 'small';
@import 'medium';

//   -animation
.move-left {
	transform: rotate(45deg);
	left: 100px;

	animation: move 1s ease-out forwards;
}

.move-shake {
	animation: shake 1s linear;
}

.add-red {
	animation: add-color 2s ease-in-out forwards;
}

@keyframes add-color {
	0%,
	40%,
	100% {
		border: 2px solid red;
	}
	20%,
	60% {
		border: 2px solid #d8d8d8;
	}
}

@keyframes shake {
	0%,
	30%,
	60%,
	85%,
	100% {
		transform: translate(-50%, -50%);
	}
	10%,
	40%,
	90%,
	70% {
		transform: translate(-54%,-50%);
	}
	20%,
	50%,
	80%,
	95% {
		transform: translate(-46%,-50%);
	}
}

@keyframes move {
	0% {
		left: -10px;
		transform: rotate(0);
	}
	20% {
		transform: rotate(25deg);
	}
	40% {
		transform: rotate(45deg);
	}
	50% {
		transform: rotate(60deg);
	}
	60% {
		transform: rotate(45deg);
	}
	70% {
		transform: rotate(35deg);
	}
	80% {
		transform: rotate(45deg);
	}
	100% {
		left: 134px;
	}
}

@keyframes blick {
	0% {
		left: -30%;
	}
	to {
		left: 130%;
	}
}
